.container {
    background-color: black;
    width: 50%;
    min-height: 730px;
    margin: auto;
  }
  
  .heading {
    color: white;
    margin: 0;
  }
  
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .type-heading {
    display: flex;
    justify-content: space-between;
    background-color: #092e33;
    padding: 0px 25px;
  }
  
  .main-img {
    width: 100%;
  }
  